$purple: #9D3DD8;
$purple-light: #BF63F7;
$purple-dark: #7F1EBA;

$blue: #4135E6;
$blue-light: #6459FF;
$blue-dark: #2216C7; 

$red: #EB3D3D;
$red-light: #F05454;
$red-dark: #D03333;

$green: #32D957;
$green-light: #50E170;
$green-dark: #28BB49;

$yellow: #FFCE52;
$yellow-light: #FFD76B;
$yellow-dark: #D9B043;

$white: #FAF8F5;
$white-light: #FBFAF7;
$white-dark: #D5D3D0;

$black: #1A1A1A;
$black-light: #303030; 
$black-dark: #101010; 

$purple-gradient: linear-gradient(215.11deg, #7F1EBA 11.63%, #BF63F7 81.82%);
$purple-gradient-2: linear-gradient(215.11deg, #7F1EBA 11.63%, #9D3DD8 81.82%);

$red-gradient: linear-gradient(215.11deg, #D03333 11.63%, #EB3D3D 81.82%);

$blue-gradient: linear-gradient(215.11deg, #2216C7 11.63%, #4135E6 81.82%);

$black-gradient: radial-gradient(50% 50% at 50% 50%, #303030 29.79%, #1B1A1A 100%);

$blue-purple-gradient: linear-gradient(215.11deg, #7F1EBA 11.63%, #2A30C6 46.36%, #9D3DD8 81.82%);
$blue-purple-gradient-02: linear-gradient(215.11deg, #2A30C6 27.71%, #9D3DD8 46.36%, #7F1EBA 66.47%);