.menu {
    font-size: 18px;

    width: 100%;

    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;

    padding: 36px 264px;
    background-color: $black-dark;
}

.menu-center{
    padding: 8px 24px; 
    text-align: center;

    line-height: 21px;

    letter-spacing: 0.365em;
}

.logo-color {
    font-weight: 500;
}

.gradient-purple {
    background: $purple-gradient;
    background-clip: text;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.carousel {
    max-width: 100%;

    margin: 0 auto;
    padding-top: 140px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.carousel-item {
    display: flex;
    max-width: 925px;
}

.bg-carousel {
    position: absolute;
    z-index: -1;
}

.btn{
    border: 0;

    display: inline-flex;
    background: $red-gradient;
    border-radius: 3px;

    padding: 12px 32px;
    text-transform: uppercase;

    transform: skewX(-10deg);
    transition: .7s ease;
    
    position: relative;
    color: $white;
    font-weight: 400;

    &::after{
        content: '';
        position: absolute;
        display: block;
        top: -2px;
        left: -2px;

        border-radius: 3px;
        opacity: 0;

        width: 20%;
        height: 70%;
        z-index: -1;

        border-top: 3px solid $white;
        border-left: 3px solid $white;

        transition: .7s ease;
    }

    &::before{
        content: '';
        position: absolute;
        display: block;
        bottom: -2px;
        right: -2px;

        border-radius: 3px;
        opacity: 0;

        width: 20%;
        height: 70%;
        z-index: -1;

        border-bottom: 3px solid $white;
        border-right: 3px solid $white;

        transition: .7s ease;
    }

    &:hover{
        box-shadow: 0px 14px 85px rgba(245, 227, 146, 0.06), 
        0px 5.11023px 31.0264px rgba(245, 243, 124, 0.041), 
        0px 2.48092px 15.0627px rgba(240, 204, 42, 0.033), 
        0px 1.21619px 7.38404px rgba(241, 239, 120, 0.027), 
        0px 0.480885px 2.91966px rgba(242, 255, 168, 0.019);

        transform: scale(1.05) skewX(-10deg);

        &::after{
            opacity: 1;
            top: -2px;
            left: -2px;
        }
        &::before{
            opacity: 1;
            bottom: -2px;
            right: -2px;
        }
    }
}

.spider-img {
    width: 100%;
}

.item-01 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;

    padding: 48px;

    width: 100%;
}

.subtitle {
    margin-bottom: 8px;

    color: $gray-6;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
    
    margin: 64px 0 42px 0;
}

.text-item {
    line-height: 12px;
}

.item-02 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;

    padding: 32px;
}

.favorite-game {
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
}

.game-item {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

    width: 100%;
}

.bg-game {
    position: absolute;
    z-index: -1;
}

.btn-favorite {
    border: 0;

    margin-top: 102px;
    display: inline-flex;
    position: relative;

    background: none;

    padding: 12px;
}