.menu {
    font-size: 18px;

    width: 100%;

    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;

    padding: 36px 264px;
    background-color: $black-dark;

    margin-bottom: 60px;

    .menu-center{
        padding: 8px 24px; 
        text-align: center;
    
        line-height: 21px;
    
        letter-spacing: 0.365em;

        .logo-color {
            font-weight: 500;
        }

        .gradient-purple {
            background: $purple-gradient;
            background-clip: text;
        
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
    }
}

.container {
    //border: 1px solid blue;
    margin: 0 auto;
    width: 80%;

    display: inline-flexbox;
    position: relative;

    overflow: hidden;

    img {
        width: 100%;
    }

    .item-left {
        width: 40%; 
        flex-direction: column;
        position: absolute;
        
        top: 100px;
        left: 40px;

        span {
            color: $red;
        }

        p {
            font-weight: bold;
            font-size: 10px;
            line-height: 16px;
        }

        #subtitle {
            color: $gray-6;
        }

        #price {
            margin-top: 5rem;
            margin-bottom: 4rem;
            display: flex;

            align-items: center;

            p {
                font-size: 36px;
                margin-right: 24px;
            }
        }
    }

    .item-right {
        width: 60%; 
        flex-direction: column;
        position: absolute;
        
        top: 0px;
        right: 0px;
    }
}

.btn{
    border: 0;

    display: inline-flex;
    background: $red-gradient;
    border-radius: 3px;

    padding: 12px 32px;
    text-transform: uppercase;

    transform: skewX(-10deg);
    transition: .7s ease;
    
    position: relative;
    color: $white;
    font-weight: 400;

    &::after{
        content: '';
        position: absolute;
        display: block;
        top: -2px;
        left: -2px;

        border-radius: 3px;
        opacity: 0;

        width: 20%;
        height: 70%;
        z-index: -1;

        border-top: 3px solid $white;
        border-left: 3px solid $white;

        transition: .7s ease;
    }

    &::before{
        content: '';
        position: absolute;
        display: block;
        bottom: -2px;
        right: -2px;

        border-radius: 3px;
        opacity: 0;

        width: 20%;
        height: 70%;
        z-index: -1;

        border-bottom: 3px solid $white;
        border-right: 3px solid $white;

        transition: .7s ease;
    }

    &:hover{
        box-shadow: 0px 14px 85px rgba(245, 227, 146, 0.06), 
        0px 5.11023px 31.0264px rgba(245, 243, 124, 0.041), 
        0px 2.48092px 15.0627px rgba(240, 204, 42, 0.033), 
        0px 1.21619px 7.38404px rgba(241, 239, 120, 0.027), 
        0px 0.480885px 2.91966px rgba(242, 255, 168, 0.019);

        transform: scale(1.05) skewX(-10deg);

        &::after{
            opacity: 1;
            top: -2px;
            left: -2px;
        }
        &::before{
            opacity: 1;
            bottom: -2px;
            right: -2px;
        }
    }
}

.btn-secondary {
    border: 0;
    border-radius: 16px;
    background: $green-dark;

    padding: 24px 80px;
    text-transform: uppercase;

    transition: all .7s ease;

    font-weight: 500;
    font-size: 24px;

    cursor: pointer;

    &:hover{
        background: $green;
        box-shadow: 0px 14px 85px rgba(245, 227, 146, 0.06), 
        0px 5.11023px 31.0264px rgba(245, 243, 124, 0.041), 
        0px 2.48092px 15.0627px rgba(240, 204, 42, 0.033), 
        0px 1.21619px 7.38404px rgba(241, 239, 120, 0.027), 
        0px 0.480885px 2.91966px rgba(242, 255, 168, 0.019);
    }
}

.login-area {
    background-color: $white;
    max-width: 350px;
    min-height: 50vh;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 2rem;

    box-shadow: 5px 5px 15px rgba($color: $purple-light, $alpha: 0.3);
    border-radius: 8px;

    .login {
        form {
            display: flex;
            flex-direction: column;
        }

        h2 {
            color: $black;

            text-transform: inherit;
            font-weight: 600;
            font-size: 24px;

            margin-bottom: 2rem;
            position: relative;

            &::before {
                content: '';
                position: absolute;
                height: 4px;
                width: 28px;
                bottom: 1px;
                left: 0;
                border-radius: 8px;
                background: $purple-gradient;
            }
        }

        .input-field {
            position: relative;
            
            &:first-child {
                margin-bottom: 1.5rem;
            }

            input {
                border: 0;
                background-color: $white;

                outline: none;

                font-size: 0.9rem;
                color: rgba(0, 0, 0, 0.7);
                
                width: 100%;
        
                &::placeholder {
                    color: rgba(0, 0, 0, 0.5);
                }

                &:focus ~ .underline::after {
                    transform: scaleX(1);
                }

            }

            .underline::before {
                content: '';
                position: absolute;
                height: 2px;
                width: 100%;
                bottom: -5px;
                left: 0;
                background: rgba(0, 0, 0, 0.2);
            }

            .underline::after {
                content: '';
                position: absolute;
                height: 2px;
                width: 100%;
                bottom: -5px;
                left: 0;
                background: $purple-gradient;
                transform: scaleX(0);
                transition: all .3s ease-in-out;
                transform-origin: left;
            }

        }

        .login-footer {
            display: flex;
            flex-direction: column;

            margin-top: 1rem;

            span {
                color: $black;
                font-weight: 600;
                text-align: center;
            }

            .social-field {
                padding: 0.4rem;
                border-radius: 4px;
                font-size: 0.85rem;
                width: 100%;
                margin-top: 1rem;

                text-transform: uppercase;

                a i{
                    margin: 0 0.5rem;
                    width: 20px;
                }

                &.facebook {
                    background: linear-gradient(to right, #1e3c72, #2a5298);
                }
                &.email {
                    background: $red-gradient;
                }
            }
        }
    }
}

.btn-login {
    border: none;
    border-radius: 4px;

    margin-top: 2rem;
    padding: 0.4rem;

    width: 100%;

    color: $white;
    background: $purple-gradient-2;

    cursor: pointer;
    
    font-size: 0.9rem;
    font-weight: 300;
    text-transform: uppercase;
    
    transition: all 0.3s ease;

    &:hover {
        letter-spacing: 0.5px;
        background: $purple-gradient;
    }
}

.line-bar {
    width: 80%;

    border-bottom: 3px solid $purple;
}

.carrinho {
    max-width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    max-width: 1200px;
    margin: 0 auto;
}