h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Ubuntu', sans-serif;
    color: $white;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.link {
    padding: 8px 24px;

    display: inline-block;

    transition: .8s ease;

    position: relative;
    font-weight: 500;

    &::after {
        content: '';
        display: block;

        position: absolute;
        top: 100%;
        left: 50%;

        width: 0%;
        height: 2px;

        transform: translate(-50%, -50%);
        transition: all .8s ease-in-out 0s;

        background-color: $purple-dark;
        
    }

    &:hover {
        color: $blue-light;
        &::after {
            width: 70%;
        }
    }
}

p {
    font-size: 10px;
}

h1 {
    font-size: 18px;
}

h2 {
    font-size: 48px;
    font-weight: 400;
}

h3 {
    font-size: 36px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 18px; 
}

h6 {
    font-size: 12px;
}
